/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
}
.ui-resizable-handle {
  opacity: 0;
}
.grid-stack-item-content {
  scrollbar-width: none;
}
